.lesson-body {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 0 80px;
}

.lesson-body__text {
  margin-bottom: 40px;
}

.lesson-body__title {
  margin-bottom: 20px;
}

.lesson-body__paragraph {
  margin-bottom: 20px;
}

.lesson-body__question {
  margin: 20px 0;
}

.lesson-body__question-text {
  margin-bottom: 5px;
}
